/* CSS Document */
*{margin:0;padding:0}
li{list-style:none}
img{vertical-align:top;border:none}
legend{display:none}
fieldset{border:none}
a{text-decoration:none}
a:hover,a:active{text-decoration:none}
.clear {clear: both; }
body{font:12px/1.5 Microsoft YaHei;position:relative;margin:0 auto;color:#000}

.login{background:url( ../image/background_task2.jpg) center no-repeat; height:800px;}

.login_hd{background:url( ../image/LOGO.jpg) no-repeat;float:left;width:80px;height:57px;}
.login_hd{position:absolute;left:40px;top:65px;}

.login_banner{background:url( ../image/decoration_image_task2.jpg) no-repeat;float:left;width:100%;height:100%;}
.login_banner{position:absolute; top:100px;left:40px;}

.login_main{background:url( ../image/矩形登录框_site2.jpg) no-repeat;float:right;height:420px;width:400px;margin:180px 50px 50px;position:relative;}
.login_form{width:272px;height:170px;padding:27px 28px 0 26px;color:#000101;position:relative; }

.login_btn{text-align:center;color:white;margin:0;position:absolute; top:170px; left:150px; }

.login_instruction{font-size:25px;}
.login_help a{float:right;color:white;position:absolute; top:-30px; right:0px;font-size:15px;}

.username{height:57px;margin:52px 90px 13px}
.password{height:57px;margin:-25px 90px 13px;}
.username input,.password input{width:295px;height:47px;border:0;color:#999;font-size:14px;line-height:32px}
.username input{position:absolute; top:100px; right:-45px; }
.password input{position:absolute; top:170px; right:-45px; }
.login_btn{text-align: center;height: 42px;margin: 0;position: absolute;top: 300px;left: 30px;width: 344px;}
.login_btn input{background:url( ../image/button_site2.jpg) no-repeat;border:0;width:340px;height:46px;cursor:pointer;color:aliceblue;font-size:20px;}
.forget{position:absolute;top:360px;left:30px;}
.username_image{position:absolute; top:100px;right:250px;}
.password_image{position:absolute; top:170px;right:250px;}
.remember {position:absolute;top:230px;right: 280px;}
.remember_chinese {position:absolute;top:227px;right: 230px;}
.copyright{position:relative;bottom: 90px;left:30px; width: 300px;}
.bottom{position:absolute;bottom:90px;right:40px}
.bottom li{float:left; padding-right:10px;}