/* CSS Document */
*{margin:0;padding:0}
.section {color :#0F4FA8}
.main_table {width:960px; align:center; position:absolute; left:160px;}
.name{color:#05316D}
.entity {background-color: #05316D; color:#6A96D4;}
